[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
scikit-learn = "*"
lightgbm = "*"
numpy = "*"
pandas = "*"
lgbm-autotune = {editable = true, path = "."}
plotly = "*"
nbformat = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.7"
